<%- include('header') %>
<div class="container">
<% if (locals.currentUser && locals.currentUser.ismember) { %>
<h1>You are already a member, congrats</h1>
<% } else if (locals.currentUser && !locals.currentUser.ismember) { %>
<form method="POST" action="/secret">
<label for="secret">Secret code: </label>
<input id="secret" name="secret" required />
<button>Check</button>
</form>
<% if (hint && process.env.MEMBER_SECRET_HINT) { %>
<p>Hint: <%= process.env.MEMBER_SECRET_HINT %>
<% } %>
<% } else { %>
<p><a href="/">Login</a> to access this page</a></p>
<% } %>
<%- include('footer') %>